{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="projects-horizontal" onload="f();">
            <div class="container">
               <div class="intro">
                  <h2 class="text-center">Страница не найдена (404)</h2><hr>
                   <p class="text-center">Это может быть по нескольким причинам</p>
                   <ul>
                       <li class="text-center">Вы перешли по неверному URL-адресу</li>
                       <li class="text-center">Страница еще в процессе разработки</li>
                   </ul>
                  <p class="text-center">Вы можете вернуться на главную страницу</p>
                   <a class="bnt-info" href="/">Главная</a>
            </div>
         </section>
{% endblock %}



{% block extra_js %}
<script src="{% static 'js/main.js' %}" </script>
{% endblock %}